.popup-content {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #ffd700;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(17, 14, 14, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.modal {
  display: block;
  /* justify-content: center;
  align-items: center; */
}

.button {
  border: none;
  border-radius: 20px;
  font-size: 22px;
  color: black;
  background-color: aliceblue;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  transition: all 0.3s;
  margin-left: 0%;
  position: relative;
  border-radius: 10px;

}

.home-button_1:hover {
  background-color: #c23866;
  color: white;
  transform: translate(0px, -5px);
}