.hide {
  display: none;
}

.show {
  margin-left: 20px;
  color: black;
}

.Start-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
  padding: 1rem;
}

.start-button-off {
  display: none;
}

.start-button-on,
.refined-start-button { /* gộp các style chung */
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #ffd700;
  transition: transform 0.3s;
  padding: 1rem;
  text-align: center;
  width: 80vw;
  max-width: 500px;
}

.start-button-on:hover,
.refined-start-button:hover {
  transform: translateY(-5px);
}

.black-text {
  color: black;
}

@media (max-width: 768px) {
  .start-button-on,
  .refined-start-button {
    width: 90vw;
    font-size: 4vw; 
  }
}
